.heroes-dashboard {
    padding: 10px;
}
.heroes-dashboard > a{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;

    background-color: aliceblue;
}
.heroes-dashboard > a:hover{
    cursor: pointer;
    background-color: rgb(202, 202, 202);
}